.menubar {
  display: flex;
  align-items: center;
  height: calc(var(--spacing) * 9);
  padding: var(--spacing);
  border-radius: var(--radius-md);
  background-color: var(--color-background);
  gap: var(--spacing);
}

.menubar-trigger,
.menubar-sub-trigger {
  display: flex;
  align-items: center;
  padding: var(--spacing) calc(var(--spacing) * 2);
  border: none;
  border-radius: var(--radius-sm);
  outline: none;
  background-color: transparent;
  color: inherit;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--text-sm--line-height);
  user-select: none;

  /* Focus & Open */
  &:focus,
  &[data-state="open"] {
    background-color: var(--muted);
    color: var(--foreground);
  }

  &.menubar-sub-trigger {
    padding-block: calc(var(--spacing) * 1.5);

    & > svg {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      margin-inline-start: auto;
    }

    &[data-inset] {
      padding-inline-start: calc(var(--spacing) * 8);
    }
  }
}

.menubar-content,
.menubar-sub-content {
  z-index: 50;
  min-width: 12rem;
  padding: var(--spacing);
  overflow: hidden;
  transform-origin: var(--radix-menubar-content-transform-origin);
  animation-duration: var(--default-transition-duration);
  animation-timing-function: var(--ease-out);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  box-shadow: var(--shadow-md);
  color: var(--color-popover-foreground);

  &.menubar-sub-content {
    min-width: 8rem;
    box-shadow: var(--shadow-lg);
  }

  /* Side */
  &[data-side="top"] {
    animation-name: var(--animate-slide-top);
  }

  &[data-side="bottom"] {
    animation-name: var(--animate-slide-bottom);
  }

  &[data-side="left"] {
    animation-name: var(--animate-slide-left);
  }

  &[data-side="right"] {
    animation-name: var(--animate-slide-right);
  }

  &[data-state="closed"] {
    animation-name: var(--animate-fade-zoom-out);
  }

  .menubar-item {
    display: flex;
    position: relative;
    align-items: center;
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
    border-radius: var(--radius-sm);
    outline: none;
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: var(--text-sm--line-height);
    cursor: default;
    user-select: none;
    gap: calc(var(--spacing) * 2);
    cursor: pointer;

    /* Icon */
    & > svg {
      flex-shrink: 0;
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      pointer-events: none;
    }

    /* Variant */
    &[data-variant="destructive"] {
      color: var(--color-destructive);

      & > svg {
        color: inherit !important;
      }
    }

    /* Focus */
    &:focus {
      background-color: var(--muted);
      color: var(--foreground);

      &[data-variant="destructive"] {
        background-color: color-mix(in oklch, var(--color-destructive) 10%, transparent);
        color: var(--color-destructive);
      }
    }

    /* Inset */
    &[data-inset] {
      padding-inline-start: calc(var(--spacing) * 8);
    }

    /* Disabled */
    &[data-disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .menubar-checkbox-item,
  .menubar-radio-item {
    display: flex;
    position: relative;
    align-items: center;
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
    padding-inline-start: calc(var(--spacing) * 8);
    border-radius: var(--radius-xs);
    outline: none;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    cursor: default;
    user-select: none;
    gap: calc(var(--spacing) * 2);

    /* Icon */
    & > span {
      display: flex;
      position: absolute;
      left: calc(var(--spacing) * 2);
      align-items: center;
      justify-content: center;
      width: calc(var(--spacing) * 3.5);
      height: calc(var(--spacing) * 3.5);
      pointer-events: none;

      & > svg {
        flex-shrink: 0;
        pointer-events: none;
      }
    }

    /* Focus */
    &:focus {
      background-color: var(--muted);
      color: var(--foreground);
    }

    /* Disabled */
    &[data-disabled] {
      opacity: 0.5;
      pointer-events: none;
    }

    &.menubar-checkbox-item {
      & > span {
        & svg {
          width: calc(var(--spacing) * 4);
          height: calc(var(--spacing) * 4);
        }
      }
    }

    &.menubar-radio-item {
      & > span {
        & svg {
          width: calc(var(--spacing) * 2);
          height: calc(var(--spacing) * 2);
          fill: currentcolor;
        }
      }
    }
  }

  .menubar-label {
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: var(--text-sm--line-height);

    /* Inset */
    &[data-inset] {
      padding-inline-start: calc(var(--spacing) * 8);
    }
  }

  .menubar-separator {
    height: 1px;
    margin: var(--spacing) calc(var(--spacing) * -1);
    background-color: var(--color-border);
  }

  .menubar-shortcut {
    margin-inline-start: auto;
    color: var(--color-muted-foreground);
    font-size: var(--text-xs);
    letter-spacing: var(--tracking-widest);
    line-height: var(--text-xs--line-height);
  }
}
