:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: #4F4949;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: #F4CB23;
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #D74738;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --surface: oklch(98% 0 0deg);
  --surface-foreground: var(--foreground);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(96% 0 0deg);
  --code-number: oklch(56% 0 0deg);
  --success: #A1C527;
  --additional: #5CB3E5;
}

  .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

menu,
ol,
ul {
  list-style: none;
}

a:visited {
  color: var(--color-primary);
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-weight: 500;
  font-variant-numeric: lining-nums tabular-nums;
}

.container-box {
  width: 100% !important;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}